/* CartWidget.module.css */
.cartButton {
    background: none;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.cartImage {
    width: 30px; 
    margin-right: 5px; 
}

.cartCount {
    font-weight: bold;
    font-size: 18px; /* Ajusta el tamaño de fuente según tus preferencias */
}
